<div class="container-fluid" data-ng-controller="HeaderController">
    <div class="navbar-wrapper">
        <div class="navbar-toggle">
            <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
        <ul class="nav navbar-nav">
                <li class="nav-item">
                        <div class="status" data-ng-controller="StatusController">
                            <div data-ng-init="getSync()" class="pull-left">
                                <span class="t text-danger" data-ng-show="sync.error" tooltip="{{sync.error}}" tooltip-placement="bottom">
                                    <span class="glyphicon glyphicon-warning-sign"></span>
                                    ERROR
                                </span>
                                <span class="t" tooltip="{{sync.syncedBlocks}} / {{sync.blockChainHeight}} synced. {{sync.skippedBlocks || 0}} skipped" tooltip-placement="bottom"
                                    data-ng-show="sync.status==='syncing'">
                                    <span class="glyphicon glyphicon-refresh icon-rotate"></span>
                                    {{sync.syncPercentage}}%
                                </span>
                                <span class="glyphicon glyphicon-ok" tooltip="Historic sync finished" tooltip-placement="bottom" data-ng-show="sync.status==='finished'">
                                </span>
                            </div>
                            &nbsp; &middot;
                            <span data-ng-init="getStatus('Info')">
                                <strong>{{'Conn'|translate}}</strong> {{info.connections}}
                            </span> &middot;
                            <strong>{{'Height'|translate}}</strong> {{totalBlocks || info.blocks}}
                        </div>
                    </li>
           
        </ul>
    </div>
</div>