<form id="search-form" data-ng-controller="SearchController" role="search" data-ng-submit="search()">
  <div class="input-group no-border"  data-ng-class="{'has-error': badQuery}">
    <input id="search" type="text" class="form-control" data-ng-model="q" data-ng-class="{'loading': loading}" placeholder="{{'Search for block, transaction or address'|translate}}" data-ng-submit="search()" focus="true">
      <span class="input-group-addon">
          <i class="now-ui-icons ui-1_zoom-bold"></i>
      </span>
      <div class="no_matching text-danger" data-ng-show="badQuery" translate>No matching records found!</div>
  </div>
</form>